* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(235, 13, 13);
}
a:hover,
a:focus {
  text-decoration: underline;
}

h3 {
  font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

#layout {
  padding: 0;
}

.header {
  text-align: center;
  top: auto;
  margin: 3em auto;
}

.sidebar {
  background: rgb(119, 40, 40);
  color: #fff;
}

.brand-title,
.brand-tagline {
  margin: 0;
}
.brand-title {
  text-transform: uppercase;
}
.brand-tagline {
  font-weight: 300;
  color: rgb(235, 13, 13);
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-item {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.nav-item button {
  margin-top: 1em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.pure-button {
  background-color: #850707;
  border-radius: 5px;
}

#teams h1 {
  text-transform: uppercase;
  color: #f50a0a;
  border-bottom: 1px solid #848484;
  padding: 0.4em 0;
  font-size: 100%;
  font-weight: 500;
  letter-spacing: 0.1em;
}

#teams ul {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.nav {
  margin-bottom: 2rem;
}

.content {
  padding: 2em 1em 0;
}

.post {
  padding-bottom: 0.3em;
  font-size: 1.3em;
  color: #222;
  margin-bottom: 0.2em;
}

.post ul {
  margin: 0;
}

input {
  margin-bottom: 1em;
}

@media (min-width: 48em) {
  .content {
    padding: 2em 3em 0;
    margin-left: 25%;
  }

  .header {
    margin: 4em 2em 0;
    text-align: right;
  }

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
  }

  .footer {
    text-align: center;
  }
}
